@import "./../../../../App.scss";

.chess__container{
  // background-image: url(./../../../../../build/assets/imgs/);
  min-width: 820px;
  width: 100%;
  height: 100%;
 }
.chess__letters{
  width: 800px;
  display: flex;
  margin: auto;
.chess__letter{
  text-align: center;
  width: 100px;
  }
}
.chess__inner{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.chess__numbers,
.chess__numbers__2{
  box-sizing: border-box;
  height: 800px;
  padding-top: 45px;
 text-align: right;
  .chess__number,
  .chess__number__2{
    height: 100px;
  }
}
.chess__numbers__2{
  text-align: left;
}
.chess__grid{
  margin:10px;
  text-align: center;
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8,  100px);
  border: 3px solid $black;
  user-select: none;
  pointer-events: none;
}

.white__field,
.black__field{
  padding: 10px;
}
.white__field{
  background-color: $light;
}
.black__field{
  background-color: $dark-brown;
}
.figure__img{
  color: transparent;
  font-weight: bold;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}
.figure__img:hover{
  cursor: grab;
}
.figure__img:active{
  cursor: grabbing;
}


