

$bg:rgb(187, 142, 120);
$dark-brown: rgb(112, 81, 65);
$light-brown: rgb(245, 221, 190);
$light: rgb(240, 228, 212);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);


@mixin forBtn {
  outline: none;
  border: none;
  cursor: pointer;
}
.App{
  position: relative;
  background: url(./assets/imgs/background-img.jpg) no-repeat;
  background-size: cover;
}


// @keyframes flipBoard {
//   0%{
//     transform: rotate(0deg) scale(1);
//   }
//   33%{
//     transform: rotate(60deg) scale(0.5);
//   }
//   100%{
//     transform: rotate(180deg) scale(-1);
//   }
// }

// .flip__board{
//   animation: flipBoard 2s linear;
//   transform: rotate(180deg);
 
//   // transform: rotate(none);
// }
// .flip__field{
//   transform: rotate(180deg);
// }
.green{
  background: green;
}