

$bg:rgb(187, 142, 120);
$dark-brown: rgb(112, 81, 65);
$light-brown: rgb(245, 221, 190);
$light: rgb(240, 228, 212);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);


@mixin forBtn {
  outline: none;
  border: none;
  cursor: pointer;
}
.App{
  position: relative;
  background: url(./assets/imgs/background-img.jpg) no-repeat;
  background-size: cover;
}

.green{
  background: green;
}